<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'EULA.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <h2>{{ 'EULA.LICENSE_TITLE' | translate }}</h2>
  <p>{{ 'EULA.LICENSE_BODY' | translate }}</p>

  <h2>{{ 'EULA.EDUCATIONAL_TITLE' | translate }}</h2>
  <p>{{ 'EULA.EDUCATIONAL_BODY_1' | translate }}</p>
  <p>{{ 'EULA.EDUCATIONAL_BODY_2' | translate }}</p>
  <p>{{ 'EULA.EDUCATIONAL_BODY_3' | translate }}</p>

  <h2>{{ 'EULA.OBLIGATIONS_TITLE' | translate }}</h2>
  <p>{{ 'EULA.OBLIGATIONS_BODY_1' | translate }}</p>
  <p>{{ 'EULA.OBLIGATIONS_BODY_2' | translate }}</p>

  <h2>{{ 'EULA.RESTRICTIONS_TITLE' | translate }}</h2>
  <p>{{ 'EULA.RESTRICTIONS_BODY' | translate }}</p>

  <h2>{{ 'EULA.DISCLAIMER_TITLE' | translate }}</h2>
  <p>{{ 'EULA.DISCLAIMER_BODY_1' | translate }}</p>
  <p>{{ 'EULA.DISCLAIMER_BODY_2' | translate }}</p>

  <h2>{{ 'EULA.LIABILITY_TITLE' | translate }}</h2>
  <p>{{ 'EULA.LIABILITY_BODY_1' | translate }}</p>
  <p>{{ 'EULA.LIABILITY_BODY_2' | translate }}</p>

  <h2>{{ 'EULA.OWNERSHIP_TITLE' | translate }}</h2>
  <p>{{ 'EULA.OWNERSHIP_BODY' | translate }}</p>

  <h2>{{ 'EULA.STORE_TITLE' | translate }}</h2>
  <p>{{ 'EULA.STORE_BODY' | translate }}</p>

  <h2>{{ 'EULA.CHANGES_TITLE' | translate }}</h2>
  <p>{{ 'EULA.CHANGES_BODY' | translate }}</p>

  <h2>{{ 'EULA.CONTACT_TITLE' | translate }}</h2>
  <p>{{ 'EULA.CONTACT_BODY' | translate }} <strong>Stu.Schwartz@gmail.com</strong>.</p>
</ion-content>
